<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chan.mapper.DeviceChangeMapper">

    <select id="list" resultType="com.chan.model.VO.ExchangeElectricVO">
        SELECT t1.`id`, t1.`uid`, t1.user_id userId,IFNULL(t1.order_no,'') orderNo, SUBSTRING_INDEX(t2.`mobile`,":",-1) mobile, IFNULL(t2.real_name,'') realName,t1.`old_battery` AS oldBat, t1.`new_battery` AS newBat, IFNULL(ts.id,0) siteId,IFNULL(ts.name,'') siteName, t4.`id` operatorId,t4.`operatorname` AS operatorName,t3.`number` cabinetNo, t3.`name` AS cabinetName, t1.`create_time` createTime
        FROM t_device_change t1
        LEFT JOIN `t_wx_user` t2 ON (t2.id = t1.user_id)
        LEFT JOIN t_cabinets t3 ON (t3.number = t1.cabinet_id)
        LEFT JOIN t_operator t4 ON (t4.id = t3.id_operator)
        LEFT JOIN system_user_operator t5 ON t5.operatorid=t4.id
        LEFT JOIN t_device td ON t1.new_battery = td.batteryId
        LEFT JOIN t_site ts ON td.id_site = ts.id
        WHERE t1.change_type = 1 AND t5.userid = 24
        <!--AND t1.create_time >= '2020-09-12 00:00:00'-->
        <!--AND t1.create_time &lt;= '2020-09-12 16:00:00'-->
        ORDER BY t1.id
        limit #{page},#{size}
    </select>

</mapper>